
/* color values 
Red: 741, 87, 83 
Dark Red: 219, 48, 40 
Beige: 255, 230, 199
Dark Grey 63, 78, 89
Blue Grey: 147, 192, 216 */

/* FPO box border */
div {
    border: 1px solid yellow;
}

h1, h2, h3, p {
    line-height: 100%;
    color: rgb(255, 230, 199);
}

h1, h2 {
    font-family: 'Fira Mono', monospace;
    font-weight: 700;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 21px;
}

h3 {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}


#background {
    background-color: rgb(241, 87, 83 );
    width: 100%;
    background-image: url(../images/backgroundImg.png);
    background-size: 450px;
    background-position-x: 20%;
    background-repeat: no-repeat;
    overflow: auto;
}

#mainContent{
    padding: 20px;
    overflow: auto;
}

#textWrapper {
    text-align: right;
    max-width: 400px;
    margin: 0 10px 0 10%;
    padding: 0 18px 0 0;
    border-right: solid 4.5px rgb(255, 230, 199);
    float: left;
    clear: right;
}

#gameWrapper {
    background-color: bisque;
    height: 100px;
    max-width: 600px;
    /* float: left; */
}